/* ImageCarousel.css */

/* ... (otros estilos) ... */

.container {
  /* Estilos para el contenedor del carousel */
}

.row {
  /* Estilos para la fila */
}

.col-md-12 {
  /* Estilos para la columna */
}

.image-carousel {
  /* Estilos para el carousel */
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-images {
  /* Estilos para el contenedor de las imágenes */
  display: flex;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.carousel-slide {
  /* Estilos para cada diapositiva del carousel */
  flex: 0 0 calc(100% / 3);
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
  margin: 0 10px; /* Agrega un margen a las imágenes */
}

.carousel-prev,
.carousel-next {
  /* Estilos para las flechas de navegación */
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carousel-prev {
  margin-right: 10px; /* Espaciado entre la flecha y el carousel */
}

.carousel-next {
  margin-left: 10px; /* Espaciado entre la flecha y el carousel */
}

/* ... (otros estilos) ... */
